@using Website_BuyFood.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    

}


<div id="id-content-order" style="display:inline;">
    <div class="content-header" style="color: black; text-align: center; font-size: 30px; font-family: monospace;">ĐƠN ĐẶT HÀNG</div>
    <table>
        <tr>
            <th>#</th>
            <th>Tên khách hàng</th>
            <th>Email</th>
            <th>Đặt sản phẩm</th>
            <th>Số lượng</th>
            <th>Tổng tiền</th>
            <th>Trạng thái thanh toán</th>
         
        </tr>

        @{
            int i = 0;
            string email = "@gmail.com";
            LoadThongTinIndexAdmin loadThongTinIndexAdmin = new LoadThongTinIndexAdmin();
            List<KhachHang> khachHangs = loadThongTinIndexAdmin.GetKhachHangs();
            foreach (KhachHang khachHang in khachHangs)
            {
                List<DonHangAdmin> donHangAdmins = loadThongTinIndexAdmin.GetDonHangAdmins(khachHang.MaKH);

                foreach (DonHangAdmin donHangAdmin in donHangAdmins)
                {
                    i += 1;
                    donHangAdmin.TenDangNhap += email;
                    double? tongTien = donHangAdmin.Soluong * donHangAdmin.DonGia;
        <tr>
            <td>@i</td>
            <td>@donHangAdmin.HoTen</td>
            <td>@donHangAdmin.TenDangNhap</td>
            <td>@donHangAdmin.TenMonAn</td>
            <td>@donHangAdmin.Soluong</td>
            <td>@tongTien</td>
            <td>Đã thanh toán</td>
        </tr>
                }

            }
        }

    </table>
</div>
<script>
    $(document).ready(function () {
        $(".ThanhToan").click(function () {
            MaKH = $(this).data('MaKH');
            MaNV=$(this).data('MaNV');
            MaGH = $(this).data('MaGH');
            alert('Thanh toán thành công');
            $.ajax({
                type: 'POST',
                url: "/Order/ThanhToan",
                data: { MaKH: MaKH, MaNV: MaNV, MaGH: MaGH },
                success: function (response) {
                    alert("Thanh toán thành công");
                }
            });
            
        })
    });
</script>